* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background: linear-gradient(
    135deg,
    burlywood,
    beige,
    rgb(190, 190, 210)
  );

  min-height: 100vh;
}

button,
input {
  font-family: inherit;
}

#root {
  min-height: 100vh;
}